<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bondex.ysl.camera">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>


        <activity android:name=".CameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".decode.DecodeCameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

    </application>

</manifest>
